# Data Types

In [1]:
a = 17
b = 19.5
c = a + b
print(c)

36.5

In [2]:
type(a)

int

In [3]:
type(b)

float

In [4]:
type(c)

float

# Lists

In [8]:
x = [1, "pubg", 2, "clash of clans", 3, "mini militia"]
print(x)

[1, 'pubg', 2, 'call of duty', 3, 'free fire']

In [12]:
x.append(4)

In [13]:
x.append("vice city")

In [14]:
x

[1, 'pubg', 2, 'call of duty', 3, 'free fire', 4, 'vice city']

In [17]:
x.index("free fire")

5

In [1]:
y = [19.2, 45.9, 67.34, 12.9]
print(sum(y))

145.34

In [3]:
print(len(y))

4

In [4]:
y.insert(1,54.7)
y

[19.2, 54.7, 45.9, 67.34, 12.9]

In [5]:
y[1] = 43.6

In [6]:
y

[19.2, 43.6, 45.9, 67.34, 12.9]

In [8]:
y.remove(43.6)

In [9]:
y

[19.2, 45.9, 67.34, 12.9]

In [10]:
y.pop(1)

45.9

In [11]:
y

[19.2, 67.34, 12.9]

In [12]:
z = y.copy()

In [13]:
z

[19.2, 67.34, 12.9]

In [14]:
z.sort()

# Tuples

In [ ]:
#Tuples are immutable.
#You can change the by converting it into list.

In [23]:
x = (34, 43, 55, 38, "Great")

In [24]:
x

(34, 43, 55, 38, 'Great')

In [26]:
print(x.count("Great"))

1

In [27]:
#You can't add elements to a tuple.
x.append(1, 42)

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
x = (3, 2, 1)
y = (2, 1, 4)
print(x+y)

(3, 2, 1, 2, 1, 4)

# Dictionaries

In [29]:
Data ={"Name": "Great Ganesh", "Age": 20, "Place": "Andhra Pradesh"}

In [30]:
Data

{'Name': 'Great Ganesh', 'Age': 20, 'Place': 'Andhra Pradesh'}

In [31]:
#You can use get() method to get a valuse with its key.

In [33]:
print(Data.get("Name"))

Great Ganesh

In [34]:
print(Data["Name"])

Great Ganesh

In [42]:
Data["Age"] = 21

In [43]:
Data

{'Name': 'Great Ganesh', 'Age': 21, 'Place': 'Andhra Pradesh'}

In [44]:
print(len(Data))

3

# Sets

In [ ]:
#Sets are ordered automatically. So, they may not be in the position you made.
#Duplicate elements will be removed.
#Once set is created you cannot change the elements but you can add or update elements.

In [47]:
x = {2, 1, 5, "Ganesh", 2}

In [48]:
x

{1, 2, 5, 'Ganesh'}

In [51]:
print(x.pop())

1

In [52]:
x.add(3)

In [55]:
x.update([6, 8])
#Update() method is used to add more than one element.

In [60]:
x = {1,2,3}
y = {"a","b","c"}
z = x.union(y)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

In [62]:
x = {1,2,3}
y = {"a","b","c"}
x.update(y)
print(x)
#union() and update() methods exclude duplicate elements.

{1, 2, 3, 'c', 'b', 'a'}

In [65]:
x = {1,2,3,4}
y = {2,3,5,6}
z = x.intersection(y)
print(z)

{2, 3}

In [69]:
x = {1,2,3,4}
y = {2,3}
z = y.issubset(x)
print(z)

True

In [70]:
x = {1,2,3,4}
y = {2,3}
z = y.issuperset(x)
print(z)

False

In [71]:
x = {1,2,3,4}
y = {2,3}
z = x.issuperset(y)
print(z)

True

In [72]:
x = {1,2,3,4}
y = {5,6,7,8}
z = y.isdisjoint(x)
print(z)

True